extends layoutest

block test
  div.pure-g
    div.sedebar.pure-u-2-5
      a(href="#") Nav1
      a(href="#") Nav2
      a(href="#") Nav3
    div.main.pure-u-3-5
      h1 My new Test
      table
          tr
            th Product
            th Add
            th Edit
          tr
            td aaa
            td
              a.pure-button.pure-button-primary(href="#")
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
          tr
            td bbb
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
          tr
            td ccc
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
          tr
            td ddd
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
          tr
            td eee
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
          tr
            td fff
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
            td
              a(href="#")
                button.btn.btn-mini.btn-success(type="button")
      p
        a(href='/add') ADD
